html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    font-family: sans-serif;
    font-weight: 100;
    color: #fff;
}

table {
    width: 800px;
    border-collapse: separate;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
    text-align: left;
}

.button {
    border: none;
    color: rgba(255,255,255,0.2);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button_style {
    background-color: rgba(255,255,255,0.2);
    color: white;
    border: 2px solid antiquewhite;
}

.button_style:hover {
    background-color: antiquewhite;
    color: rebeccapurple;
}